body{
 margin:0;
 font-family:Arial;
 background:#0b0f1a;
 color:white;
 text-align:center;
}

#logo{
 position:fixed;
 top:10px;
 left:10px;
 width:60px;
 z-index:1000;
}

h1{
 color:#c40000;
 margin-top:80px;
}

#start{
 position:fixed;
 bottom:20px;
 right:20px;
 background:#c40000;
 color:white;
 padding:14px;
 border:none;
 border-radius:30px;
 cursor:pointer;
 font-weight:bold;
}

#game{display:none;}

#road{
 height:150px;
 background:repeating-linear-gradient(90deg,#111 0 40px,#1e1e1e 40px 80px);
 position:relative;
 overflow:hidden;
}

#truck{
 width:60px;
 position:absolute;
 bottom:15px;
 left:0;
 transition:0.3s;
}

#info{
 display:flex;
 justify-content:space-around;
 margin:10px;
 flex-wrap:wrap;
}

#info div{
 background:#0a2a66;
 padding:8px 12px;
 border-radius:6px;
 margin:4px;
}

button{
 padding:10px;
 margin:5px;
 border:none;
 background:#c40000;
 color:white;
 border-radius:5px;
 cursor:pointer;
}

button:hover{
 background:#ff0000;
}

#controls{
 position:fixed;
 bottom:10px;
 left:50%;
 transform:translateX(-50%);
}

#controls button{
 font-size:18px;
}
