body{
 margin:0;
 font-family:Arial;
 background:#0b0f1a;
 color:white;
 overflow:hidden;
}

/* LOGO */
#logo{
 position:fixed;
 top:10px;
 left:10px;
 width:60px;
 z-index:1000;
}

/* TOP HUD */
#hudTop{
 position:fixed;
 top:10px;
 right:10px;
 display:flex;
 gap:20px;
 font-size:18px;
}

/* CABINA */
#cabina{
 height:100vh;
 position:relative;
}

/* CARRETERA + CIELO */
#road{
 position:absolute;
 width:100%;
 height:100%;
 background:
 linear-gradient(to top, #222 30%, transparent),
 linear-gradient(#1a1a2e,#0b0f1a);
}

/* PREGUNTA */
#questionBox{
 position:absolute;
 top:20%;
 width:100%;
 text-align:center;
}

/* VOLANTE */
#wheel{
 position:absolute;
 bottom:120px;
 width:100%;
 text-align:center;
 font-size:50px;
}

/* RESPUESTAS */
#answers{
 position:absolute;
 bottom:40px;
 width:100%;
 display:flex;
 justify-content:center;
 gap:20px;
}

#answers button{
 padding:15px 30px;
 font-size:18px;
 background:#c40000;
 border:none;
 color:white;
 border-radius:5px;
}

/* PROGRESO */
#progressBar{
 position:absolute;
 right:10px;
 top:20%;
 width:10px;
 height:60%;
 background:#333;
}

#progress{
 width:100%;
 height:0%;
 background:#c40000;
}

/* START */
#start{
 position:fixed;
 bottom:20px;
 right:20px;
 padding:15px;
 background:#c40000;
 border:none;
 color:white;
 border-radius:30px;
}
